<mat-card-title>Expedição</mat-card-title>
<br>
<ng-container *ngIf="separations">
    <ng-container *ngFor="let s of separations">
        <mat-card *ngIf="s.status == 'CONFERIDO'" class="mat-elevation-z4 separation-container">
            <div>
                <mat-card-title>Separação {{s.id}}</mat-card-title>
            </div>
            <div>
                <br>
                <p><strong>Valor total da Separação:</strong> {{s.totalPrice}}</p>
                <ul>
                    <li *ngFor="let order of s.orderItems">
                        {{order.product.name}} = {{order.quantity}} unidades
                    </li>
                </ul>
            </div>
            <p>Status: <strong>{{s.status}}</strong> </p>
            <button mat-raised-button color="secondary" (click)="cancelShipping(s.id!)">
                Cancelar separação </button>
            <button mat-raised-button color="primary" (click)="shipProducts(s.id!)">Expedir e dar baixa no
                estoque</button>
        </mat-card>
    </ng-container>
    <ng-container *ngIf="isEmpty">
        <h2>Não há nada para expedir.</h2>
    </ng-container>
</ng-container>