<div class="navbar">

  <div class="navbar-content">

    <div class="h1-container">
      <h1><a class="link-style" routerLink="/"><mat-icon class="icon-display">store</mat-icon>LOGAPP</a> </h1>
    </div>
    
    <ul>
      <li class=" inline-list "><a class="link-style" routerLink="operacoes/entrada">ENTRADA</a> </li>
      <li class=" inline-list "><a class="link-style" routerLink="operacoes/estoque">ESTOQUE</a> </li>
      <li class=" inline-list "><a class="link-style" routerLink="operacoes/saida">SAÍDA</a></li>
    </ul>
  </div>

</div>

<div class="container">
  <router-outlet></router-outlet>
</div>